@model IEnumerable<RedSocial.Models.publicaciones>
    

    @Html.Partial("Publicaciones")


    @foreach (var item in Model)
    {
        <div class="jumbotron">
            <h1>@item.Usuario.Nombre</h1>
            @Html.Raw(HttpUtility.HtmlDecode(item.Descripcion))
<<<<<<< HEAD
            <p><a href="Index" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
=======
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
>>>>>>> parent of f73c134... Me Gustas
        </div>
    }
