@{
    ViewBag.Title = "Publicaciones";
    Layout = null;
}

<link href="~/Content/dist/summernote.css" rel="stylesheet" />
<script src="~/Content/dist/summernote.js"></script>

<form method="post" id="form1" action="@Url.Action("Publicaciones", "publicaciones")">
    <textarea hidden="hidden" id="editor" name="Descripcion"></textarea>

    <div id="summernote"><p>Hello Summernote</p></div>

    <div class="footer text-center">
        <button type="button" id="publicar" class="btn btn-simple btn-primary btn-lg">Publicar</button>
    </div>
</form>


<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            height: 300,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true                  // set focus to editable area after initializing summernote
        });
    });

    $("#publicar").click(function () {

        var contenido = $(".note-editable").html();
        $("#editor").val(contenido);    
        $("#form1").submit();
    })
</script>

@if (ViewBag.guardado == true)
{
    <script>
        alert("Se ha guardado correctamente")
    </script>
}
else if (ViewBag.guardado == false)
{
    <script>
        alert("No se ha guardado")
    </script>
}
